/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */

header {
    height: 100vh;
    padding: 1em 1em 0 1em;
    border-bottom: 0.2em solid var(--cream);

    @media (min-width: 992px) {
        padding: 1em 1.5em 0 1.5em;
    }
}