/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */

.header--img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16em;
    height: 70vh;
    object-fit: cover;
    z-index: 5;
    transition: all .5s;

    @media (min-width: 576px) {
        width: 20em;
    }

    @media (min-width: 992px) {
        right: inherit;
        left: 0;
        width: 30em;
    }

    @media (min-width: 1200px) {
        width: 50em;
        height: 80vh;
    }

    @media (min-width: 1400px) {
        width: 60em;
    }
}