/*[ RESET HTML ]*/
/* ------------------------------------------------------------ */

/* Suppression des marges et des paddings par défaut */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définition d'une taille de police de base */
html {
    font-size: 100%;
    /* Valeur par défaut pour une meilleure accessibilité */
}

/* Reset des éléments de base */
body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #fff;
    /* Fond blanc par défaut */
    color: #000;
    /* Couleur du texte par défaut */
}

/* Reset des styles pour les liens */
a {
    text-decoration: none;
    color: inherit;
    /* La couleur du lien héritera de celle du texte parent */
}

/* Enlever les bordures par défaut des boutons et des éléments de formulaire */
button,
input,
textarea {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    padding: 0;
}

/* Enlever les styles des images */
img {
    display: block;
    /* Enlève l'espace sous les images */
    max-width: 100%;
    /* S'assure que l'image ne déborde pas de son conteneur */
    height: auto;
}

/* Réinitialisation des styles des tableaux */
table {
    border-collapse: collapse;
    /* Supprime les espaces entre les cellules */
    width: 100%;
}

/* Reset des éléments de formulaire */
select,
textarea,
input {
    appearance: none;
    /* Enlever l'apparence par défaut des éléments de formulaire */
    background-color: transparent;
}

/* Éléments de liste */
ul,
ol {
    list-style: none;
    /* Enlever les puces et numéros */
}

/* Suppression du comportement par défaut des blocs de citation */
blockquote {
    quotes: none;
    /* Supprime les guillemets par défaut */
}

blockquote::before,
blockquote::after {
    content: '';
}