/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root {
    /*[ COULEURS ]*/
    --blanc: #fff;
    --noir: #000;

    --fig: #411B3C;
    --charcoal: #1E1E1E;
    --lavender: #CABAC8;
    --olive: #7A8F68;
    --cream: #F4F1ED;
}