/*[ COMPOSANT SECTION DESCRIPTION BUTTON ]*/
/* ------------------------------------------------------------ */

.description--btn {
    margin-top: 1.5em;
    z-index: 10;

    @media (min-width: 576px) {
        align-items: center;
        width: 20em;
        margin-top: 2.5em;
    }

    @media (min-width: 1200px) {
        font-size: 1.3em;
    }
}